html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(to top, #ff0000 0%, #fff300 100%);
}

h1 {
    text-align: center;
    transition: all .5s ease-in-out;
    padding: 3%;
}

h1:hover {
    color: black;
    background-color: white;
}

button {
    margin-left: 3%;
    margin-top: 3%;
    background: red;
    color: white;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background: rgb(109, 189, 255);
    color: black;
}

ul {
    margin-top: 10%;
}

li {
    list-style-type: circle;
    margin-top: 19%;
}

a {
    padding: 0.5%;
}

#cargo li {
    margin-top: 7%;
}

#cargo a {
    text-decoration: none;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
}

#vélo a {
    text-decoration: none;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
}

#chaussures a {
    text-decoration: none;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
}

#cargo a:hover {
    text-decoration: overline;
    background: black;
    color: white;
}

#vélo a:hover {
    text-decoration: overline;
    background: black;
    color: white;
}

#chaussures a:hover {
    text-decoration: overline;
    background: black;
    color: white;
}

@media only screen and (min-width: 1200px) {
    li {
        margin-top: 8%;
    }

    #cargo li {
        margin-top: -6%;
    }
}
